
@{
    ViewBag.Title = "Register";
}



<div class="row">
    @*12 eşit parçalı bir satır oluşturur.*@

    <div class="col-3"></div>
    <div class="col-6">
        <h2>Register</h2>
        <form action="/Home/Register" method="post">
            <div class="mb-3">
                <label class="form-label">First Name:</label>
                <input type="text" class="form-control" name="FirstName">
            </div>
            <div class="mb-3">
                <label class="form-label">Last Name:</label>
                <input type="text" class="form-control" name="LastName">
            </div>
            <div class="mb-3">
                <label class="form-label">User Name:</label>
                <input type="text" class="form-control" name="UserName">
            </div>
            <div class="mb-3">
                <label class="form-label">Email adres:</label>
                <input type="email" class="form-control" name="Email">
            </div>
            <div class="mb-3">
                <label class="form-label">Password:</label>
                <input type="password" class="form-control" name="Password">
            </div>
            <div class="mb-3">
                <label class="form-label">RePassword:</label>
                <input type="password" class="form-control" name="RePassword">
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
    <div class="col-3"></div>


</div>

@*User Class
    FirstName
    LastName
    Email
    Username
    Password
    
    *@