
@{
    ViewBag.Title = "Register";    
}

<h2>Register</h2>



@section categories{
    <ul class="list-group">
        <li class="list-group-item">Giyim</li>
        <li class="list-group-item">Elektronik</li>
        <li class="list-group-item">Kozmetik</li>
        <li class="list-group-item">Bilgisayar</li>
    </ul>
}


